
body {
  margin: auto;
  background-color: #67c5e1;
  color: #fff;
}

main {
  position: relative;
  width: 800px;
  background-image: url("./images/guessing.png"); 
  background-repeat: no-repeat;
  background-size: 100%;
}

main.revealed {
  position: relative;
  width: 800px;
  background-image: url("./images/revealed.png"); 
  background-repeat: no-repeat;
  background-size: 100%;
}

#pokemon-space {
  height: 500px;
}

#answer {
  display: none;
}


#text-overlay {
  position: absolute;
  right: 10px;
  top: 190px;
  padding: 10px;
  min-width: 130px;
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 32px;
  letter-spacing: 1.2px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

#score-text {
  position: absolute;
  left: 50px;
  bottom: 155px;
  font-family: 'Press Start 2P', Arial, sans-serif;
  font-size: 28px;
  letter-spacing: 1.2px;
  color: black;
  text-align: center;
}

#controls {
  position: relative;
  top: 50px;
  padding: 10px 20px;
}

button {
  background: #ffcb05;
  border: solid #006fb3;
  position: center;
  color: white;
  font-family: 'Press Start 2P', Arial, sans-serif;
  letter-spacing: 1.2px;
  font-weight: 250;
  font-size: 25px;
  padding: 10px 35px;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #124278;
}

button.correct, 
button.incorrect {
  color: white;
}

button.correct {
  background: #32a23b;
}

button.incorrect {
  background: #e42e26;
}

#play {
  position: absolute;
  top: -60px;
  right: 25px;
}

#pokemon-image {
  margin: 180px 0 0 200px;
  transform: scale(4.75);
  filter: brightness(0);
  position: absolute;
  left: 0;
}

main.guessing #pokemon-image {
  visibility: hidden;
  display: none;
}

main.guessing #choice {
  display: none;
}

main.revealed #pokemon-image {
  filter: none;
}

main.revealed #answer {
  display: block;
}

#options {
  display: grid;
  grid-template-columns: 380px 380px;
  grid-gap: 15px;
}

